/*reset css*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*end reset css*/

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-size: 15px;
  --font-famliy: "Overpass";
}

body {
  font-family: var(--font-famliy), serif, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  list-style: none;
  display: flex;
  gap: 1rem;
}

button {
  text-transform: uppercase;
}

.wrapper {
  width: 400px;
  padding: 1rem;
  border: 3px solid red;
}
